* {
    --content-width: 960px;
    box-sizing: border-box;
    
}

html {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poiret One", sans-serif;;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--content-width);
    margin: 0;
    background-color: rgb(36, 11, 1);
    box-sizing: border-box;
}

header {
    background-color: rgba(87, 0, 87, 0.3);
    position: fixed;
    top: 0px;
    width: var(--content-width);
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    margin: 0.5rem 1rem;
}

h1, a {
    font-family: "Spirax", sans-serif;
}

h1 {
    color: rgb(170, 0, 0);
    font-size: 6rem;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

.hot {
    background-image: url("./assets/hot.jpg");
}

.juicy {
    background-image: url("./assets/juicy.jpg");
}

.cosy {
    background-image: url("./assets/cosy.jpg");
}

.content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.content > * {
    margin: 0 0 2rem 0;
}
.content-container {
    width: var(--content-width);
    margin: 0px 0px 2rem 0px;
    padding: 20vh 10vh 5vh 10vh;
    background-repeat: no-repeat;
    
}


.description {
    background-color: rgba(112, 0, 0, 0.589);
    padding: 1.5rem;
    width: 80%;
    font-weight: 300;
    margin: 0 0 2rem 0;
}

.description-1 {
    align-self: flex-start;
}

.description-2 {
    align-self: flex-end;
}

a {
    font-size: 4rem;
}

.info {
    background-color: rgba(0, 0, 0, 0.61);
    width: 20rem;
    padding: 1rem;

}

.info-list-item {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

li {
    list-style-type: none;
}


@media screen and (max-width: 800px) {
    
    * {
        --content-width: 100vw;
        font-size: 10px;
    }

    .description-1 {
        align-self: center;
    }

    .description-2 {
        display:none;
    }

}



@media screen and (max-width: 550px) {
    
    * {
        --content-width: 100vw;
        font-size: 10px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    
    .description-2 {
        display:none;
    }
}
